
<div ng-app="SparkApp">
	<div ng-controller="ideasCtrl">

		<div class="row">
			<div class="small-12 columns">
				<div class="panel">
					<h1><%=t "mod.ideas.hdrMain"%></h1>
					<button ng-click="suggest()"><%=t "mod.ideas.addIdea"%></button>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="large-3 columns ">
				<div class="panel">
					<div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">

						<section class="idea">

							<h1 class="title"><a href="#"><%=t "mod.ideas.ideaFilterHdr"%></a></h1>

							<ul>

								<li >
								<label>
									<input type="checkbox" ng-click="toggleFilter('status')">
									All Ideas ({{countForStatus.all()}})
								</label>
								</li>	

								<li >
								<label>
									<input type="checkbox" ng-model="filter['status']['completed']">
									Completed ({{countForStatus.completed}})
								</label>
								</li>

								<li>
								<label>
									<input type="checkbox" ng-model="filter['status']['inPogress']">
									In Progress({{countForStatus.inProgress}})
								</label>
								</li>

								<li>
								<label>
									<input type="checkbox" ng-model="filter['status']['planned']">
									Planned Ideas ({{countForStatus.planned}})
								</label>
								</li>

								<li >
								<label>
									<input type="checkbox" ng-model="filter['status']['considering']">
									Under Consideration ({{countForStatus.considering}})
								</label>
								</li>
							</ul>
						</section>
						<section class="section">
							<h5 class="title"><a href="#"><%=t "mod.ideas.officeFilterHdr"%></a></h5>
							<ul>
								<li ng-repeat="office in offices">
								<label>
									<input type="checkbox"  ng-model="filter['offices'][office.office_id]">
									{{office.city}} ({{office.ideas}})
								</label>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>

			<div class="large-6 columns">
				<section class="idea row" ng-repeat="idea in filtered=(ideas | filter:filterByOffices)" >
					<div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
					{{idea}}
					<div class="large-10 columns">
						<h1>{{idea.title}}
							<p> By {{idea.user.first_name}} {{idea.user.last_name}} {{idea.user.location}}  {{idea.owner.role}}</p>
						</h1>
						<p>{{idea.body}}</p>
						<a href="#" class="split-button-vote"><%=t "mod.ideas.upVote"%><span class="vote-count">{{idea.up_votes}}</span></a>
						<a href="#" >{{idea.comments_count}} <%=t "mod.ideas.comments"%></a>
					</div>
					<hr/>
				</section>
			</div>

			<div class="large-3 columns hide-for-small">
				<section>
					<h5>Getting Started</h5>
				</section>
				<section>
					<h5>Invite a Colleage</h5>
				</section>
				<section>
					<h5>Help Us Improve ACME Corp</h5>
				</section>
			</div>
		</div>

		<modal show='modalShown'>
		<h2 id="newIdeaModalTitle">What is your idea?</h2>
		<form novalidate name="ideaForm">
			<input type="text" name="idea[title]" ng-model="idea.title" placeholder="Type your idea hear" required>
			<textarea id="" name="idea[body]" cols="30" rows="10" ng-model="idea.body" placeholder="Please say more about your idea (optional)" ></textarea>
			<label>
				<input type="radio" name="idea[location]" value='L' ng-model="idea.locationType">
				My Location Only 
			</label>
			<label>
				<input type="radio" name="idea[location]" value='A' ng-model="idea.locationType">
				All Offices 
			</label>
			<label >
				<input type="radio" name="idea[location]" value='S' ng-model="idea.locationType">
				Specific Offices
			</label>

			<select id="" name="idea[offices]" multiple="true" ng-model="idea.offices" ng-model="idea.offices" >
				<option value="" ng-repeat="office in office" value={{office.id}}>{{office.name}} {{office.city}} {office.state}} {{office.country}}</option>
			</select>

			<input type="submit" class="button" ng-click='submit()' ng-disabled="ideaForm.$invalid">
		</form>

		</modal>

	</div>
</div>

