<style>
</style>
<div ng-app="SparkApp">
	<div ng-controller="ideasCtrl">
		<div class="row">
			<div class="small-12 columns">
				<div class="panel">
					<h1><%=t "mod.ideas.hdrMain"%></h1>
					<button ng-click="suggest()"><%=t "mod.ideas.addIdea"%></button>
 				</div>
			</div>
		</div>

		<div class="row">

			<div class="large-3 columns ">
				<div class="panel">
					<div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
						<section class="idea">
							<h1 class="title"><a href="#"><%=t "mod.ideas.ideaFilterHdr"%></a></h1>
							<ul>
								<li >
								<label>
									<input type="checkbox" ng-click="toggle('status')">
									All Ideas ({{countForStatus.all()}})
								</label>
								</li>	
								<li >
								<label>
									<input type="checkbox" ng-model="filter['status']['completed']">
									Completed ({{countForStatus.completed}})
								</label>
								</li>
								<li>
								<label>
									<input type="checkbox" ng-model="filter['status']['inPogress']">
									In Progress({{countForStatus.inProgress}})
								</label>
								</li>
								<li>
								<label>
									<input type="checkbox" ng-model="filter['status']['planned']">
									Planned Ideas ({{countForStatus.planned}})
								</label>
								</li>

								<li >
								<label>
									<input type="checkbox" ng-model="filter['status']['considering']">
									Under Consideration ({{countForStatus.considering}})
								</label>
								</li>
							</ul>
						</section>
						<section class="section">
							<h5 class="title"><a href="#"><%=t "mod.ideas.officeFilterHdr"%></a></h5>

							<ul>

								<li ng-repeat="loc in countForLocation">
								<label>
									<input type="checkbox"  ng-model="filter['location'][loc.location]">
									{{loc.location}} ({{loc.count}})
								</label>
								</li>
							</ul>
						</section>
					</div>

				</div>
			</div>


			<div class="large-6 columns">


							<section class="idea row" ng-repeat="idea in filtered=(ideas | filter:filterByProperties)" >
					<div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
					<div class="large-10 columns">
						<h1>{{idea.title}}
							<p> By {{idea.user.first_name}} {{idea.user.last_name}} {{idea.user.location}}  {{idea.owner.role}}</p>
						</h1>
						<p>{{idea.body}}</p>
						<a href="#" class="split-button-vote"><%=t "mod.ideas.upVote"%><span class="vote-count">{{idea.up_votes}}</span></a>
						<a href="#" >{{idea.comments_count}} <%=t "mod.ideas.comments"%></a>
					</div>
					<hr/>
				</section>
			</div>


			<div class="large-3 columns hide-for-small">
				<section>
					<h5>Getting Started</h5>
				</section>
				<section>
					<h5>Invite a Colleage</h5>
				</section>
				<section>
					<h5>Help Us Improve ACME Corp</h5>
				</section>
			</div>

		</div>
	</div>
